body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  font-size: 18px;
  background: url('https://thumbs.gfycat.com/ValuableThisBighornedsheep-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  border: solid;
  height: 30px;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #222;
  font-family: helvetica;
  color: #fff;
}
.title{
  background-color: #777;
}

.dancer {
  position:absolute;
  border: solid 1px red;
}

.jacky-blacky {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.left-slidy-dancer {
  /* height: auto; */
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  animation: slide-left 6.5s reverse linear infinite;
}

.right-slidy-dancer {
  /* height: auto; */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: slide-right 6.5s reverse infinite;
}

.floor {
  height: 460px;
  width: 100%;
  background: transparent;
  display: flex;
}

@keyframes slide-left {
  0% { left: 0; }
  25% { left: 25%; }
  50% { left: 50%; }
  75% { left: 75%; }
  100% { left: 100%; }
}

@keyframes slide-right {
  0% { right: 0; }
  25% { right: 10px; }
  50% { right: 100px; }
  75% { right: 150px; }
  100% { right: 250px; }
}
